<div container>
  <label>Choose view:</label>
  <select>
    <optgroup label="View by Chamber">
      <option value="all">All Congress</option>
      <option value="senate">Senate</option>
      <option value="house">House</option>
    </optgroup>
    <optgroup label="View by state">
      <option value="AL">Alamaba</option>
    </optgroup>
  </select>
  <div class='politicians'>
    <div class="team internet">
      <h3>Team Internet</h3>
      <em>These politicians are standing up for the free Internet and oppose mass surveillance.</em>
      <div class="filtered">

      </div>
    </div>
    <div class="team surveillance">
      <h3>Team NSA</h3>
      <em>These politicians are working with monopolies to control the Internet for power and profit.</em>
      <div class="filtered">

      </div>
    </div>
    <div class="team unknown">
      <h3>Unclear</h3>
      <div class="filtered">

      </div>
    </div>
  </div>
</div>
